body {
    background-color: red;
}
body {
    background-color: orange;
}
body {
    background-color: green;
}
body {
    background-color: blue;
}
body {
    background-color: purple;
}
body {
    background-color: black;
}